@use "sass:map";
@use "../../../shared/styles/vars" as *;
@use "../../../shared/styles/mixins" as *;

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  padding-block: map.get($spacing, "xl");
  background-color: var(--auth-bg-color);

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: map.get($spacing, "2xl");
    border-radius: 10px;
    padding: map.get($spacing, "md");
    background-color: var(--auth-modal-bg);

    --auth-block-width: 300px;

    @include on-tablet {
      --auth-block-width: 450px;
    }

    @include on-desktop {
      flex-direction: row;
    }
  }

  input {
    border: $border;
  }
}
