@use 'sass:map';
@use '../../shared/styles/vars' as *;
@use '../../shared/styles/mixins' as *;
@use '../../shared/styles/typography' as *;

.nav {
  --height: 48px;
  z-index: 100;

  position: sticky;
  top: 0;
  width: 100vw;
  border-bottom: $border;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);

  height: var(--height);

  @include on-desktop {
    --height: 64px;
  }

  &__block {
    display: flex;
    align-items: center;
    gap: map.get($spacing, 'md');

    @include on-desktop {
      gap: map.get($spacing, 'lg');
    }
  }

  &__brand {
    padding-inline: map.get($spacing, 'md');

    @include on-desktop {
      padding-inline: map.get($spacing, 'lg');
    }

    svg {
      width: 64px;
      height: 22px;

      @include on-desktop {
        width: 80px;
        height: 28px;
      }

      path:not(#no-fill) {
        fill: var(--icon-color);
      }
    }
  }

  &__list {
    display: none;
    align-items: center;
    gap: map.get($spacing, 'xl');

    @include on-desktop {
      display: flex;
    }

    @include on-desktop {
      gap: map.get($spacing, '3xl');
    }

    @include uppercase-text;
  }

  &__link {
    position: relative;
    color: var(--nav-not-active-link);

    &::before {
      content: '';

      position: absolute;
      bottom: 0;
      transform: translateY(10px);
      height: 1.5px;
      width: 0;

      background-color: var(--nav-not-active-link);

      transition:
        width $base-transition ease,
        left $base-transition ease,
        right $base-transition ease;
    }

    &--active {
      color: var(--text-color);

      &::before {
        background-color: var(--text-color);
      }
    }
  }

  &__link--active::before,
  &__link:hover::before {
    width: 100% !important;
    left: 0;
    right: auto;
  }

  &__link:not(:hover)::before {
    width: 0;
    right: 0;
    left: auto;
  }

  &__btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    border-left: $border;

    width: var(--height);
    height: var(--height);

    @include on-desktop {
      display: flex;
    }

    &:nth-last-child {
      border: none;
    }

    svg {
      width: 16px;
      height: 16px;

      path {
        fill: var(--icon-color);
      }
    }
  }

  /* --- Mobile Menu --- */
  &__humburger {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: map.get($spacing, 'xs');

    width: var(--height);
    height: var(--height);
    border-inline: $border;

    @include on-desktop {
      display: none;
    }

    span {
      width: 20px;
      height: 2px;
      background-color: var(--icon-color);
      transition: transform $base-transition ease;
      transform-origin: center center;
    }

    &--active {
      span {
        position: absolute;
        top: 50%;

        &:nth-child(1) {
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          display: none;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }

  &__mobile {
    transition:
      height calc($base-transition * 1.5) ease,
      background-color $theme-transition ease;
    height: 0;

    &--active {
      height: calc(100vh - var(--height));
    }

    position: fixed;
    z-index: 1;
    top: var(--height);
    left: 0;
    width: 100vw;
    background-color: var(--bg-color);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__mobile .nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: map.get($spacing, '2xl');
    margin-top: map.get($spacing, '2xl');
    font-size: 24px;
  }

  &__btn-group {
    display: flex;
  }

  &__mobile .nav__btn {
    border-top: $border;
    width: 100%;
    height: 64px;
    display: flex;
  }
}
