@use 'sass:map';
@use '../../../../shared/styles/vars' as *;
@use '../../../../shared/styles/mixins' as *;

.category-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 100%;

  transition: transform $base-transition ease-in-out;

  &:hover {
    transform: translateY(-#{map.get($spacing, 'sm')});
  }

  &__img {
    width: 100%;
    object-fit: cover;
    margin-bottom: map.get($spacing, 'xl');
  }

  &__title {
    font-weight: 600;
    margin-bottom: map.get($spacing, 'xs');
  }

  &__count {
    color: #89939a;
  }
}
